.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tile:hover #new-tab-svg {
  display: block;
}

#social-icons > a:hover .social-icon-full {
  display: block;
  opacity: 100;

  filter: invert(99%) sepia(0%) saturate(7393%) hue-rotate(191deg)
    brightness(136%) contrast(100%);
}

#social-icons > a:hover .social-icon {
  display: hidden;
  opacity: 0;
}

#work-experience:hover .tile {
  opacity: 0.3 !important;
}

#work-experience .tile:hover {
  opacity: 1 !important;
}

#nav-link-2:hover #hover-wrapper {
  transform: translateY(0%);
}

#nav-link-2:hover #hover-wrapper {
  transform: translateY(100%);
}

#nav-link-3:hover ~ #hover-wrapper {
  transform: translateY(200%);
}

#nav-link-4:hover ~ #hover-wrapper {
  transform: translateY(300%);
}

#nav-link-5:hover ~ #hover-wrapper {
  transform: translateY(400%);
}
