@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0d1b2a;
}

pre,
code {
  font-family: Inter, sans-serif;
}

@layer components {
  .nav-link {
    @apply w-full;
  }

  .nav-link-content {
    @apply grid-cols-2;
  }

  .nav-icon {
    @apply w-12 h-12 p-2 text-[#ffffff55];
  }

  .nav-link-divider {
    @apply ml-11 mr-4 border-b-[.5px] border-paragraph_dark border-opacity-30;
  }

  .divider {
    @apply border-b-[.5px] border-paragraph_dark border-opacity-30;
  }

  .nav-line-top {
    @apply w-6 border-b-[.5px] border-paragraph_dark border-opacity-80;
  }

  .nav-line-bottom {
    @apply w-6 border-b-[.5px] border-paragraph_dark border-opacity-80;
  }

  .heading_title {
  }

  .heading_sub {
  }
  .text_paragraph {
  }
  .text_word {
  }

  .section {
    @apply p-6;
  }
}
