@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Hack, monospace;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre,
code {
  
  font-family: Hack, monospace;
}
